@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*variables*/
$primera-gradient: linear-gradient(to right, rgb(13, 146, 166), rgb(18, 18, 138));
$segunda-gradient: linear-gradient(to left, rgb(13, 146, 166), rgb(18, 18, 138));
$background-color: #9c9696;
$font-family-main: "Arial", sans-serif;
$font-family-header: "Oswald", sans-serif;
$color-gold-titulo:gold;
$color-gold: rgb(119, 91, 19);
$color-gold-cards: rgb(190, 168, 43);
$color-black: black;
$color-gray: gray;
$color-bordo: rgb(134, 11, 11);



.navbar{
    background: $primera-gradient;
}
.collapse {
    .nav-link{
    font-weight: bold;
    color: black;
    }
}

main{
    background-color: $background-color;
}

.collapse {
    .nav-link{
    transition: all 0.8s;
    color: black;
    }
}
.collapse {
    .nav-link{
    &:hover{    
    color:gold !important;
  }
 }
}

.nav-link {
  font-weight: 600;
}

span {
  color:$color-gold-titulo;
  text-shadow: 0px 0px 5px black;
  font-family: $font-family-main;
  letter-spacing: 7px;
  font-size: 22px;
}

.navbar {
  height: 80px;
  width: 100%;
  box-shadow: 0 0 18px black;
  z-index: 1;
}

/*SECCION NUESTRAHISTORIA*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .card-img-overlay {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: $color-gold-cards;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  
  .card {
    margin: 22px;
    padding: 6px;
  }
  
  .card:hover .card-text {
    color: $color-gold-cards;
  }
  
  .card:hover .card-title {
    color: $color-bordo;
  }
  
  .card:hover {
    background-color: rgb(56, 9, 9);
  }
  
  .card .btn-primary {
    background-color: #000000;
    border-color: $color-gray;
    color: $color-gold;
  }
  
  footer {
    width: 100%;
    max-width: 100%;
    background-color: $color-gray;
    overflow: hidden;
  }
  
  footer {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background: $segunda-gradient;
  }
  
  footer {
    p{
    color:$color-black;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: $font-family-header;
    font-size: 30px;
    text-align: center;
    padding: 15px 0;
    margin: 0;
      }
  }
  
  footer p {
    color: black;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family:$font-family-main;
    font-size: 30px;
    text-align: center;
    padding: 15px 0;
    margin: 0;
  }